#root {
  
background-color: rgb(245, 245, 245);

}

h2.video-modal {

font-size: 16px;

}


.header {

  background: black;
display: flex;
justify-content: left;

}


.header img {

width: 275px;
height: auto;
margin: 40px;

}

.subnav ul {

list-style: none;


}

.subnav li {

color: white;
display: inline;
background-color: rgb(255, 0, 0);
margin-top: 10px;
margin-left: 20px;
padding: 0px 8px 8px 8px;

}

.subnav li a {

color: white;

}


.stat-val {
  font-size: 3em;
  padding-top: 20px;
  font-weight: bold;
}

.stat-key {
  font-size: 1.4em;
  font-weight: 200
}

.section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
  border-left: 1px dotted rgba(0, 0, 0, .2);
  background-color: white !important;
}

.container.profile {
  margin-top: 1%;
  background-color: rgb(245, 245, 245);
}

.control.is-pulled-left span.select {
  margin-right: 5px;
  border-radius: 2px;
}

.modal-card .content h1 {
  padding: 40px 10px 10px;
  border-bottom: 1px solid #dadada
}

.container.profile .profile-options .tabs ul li.link a {
  margin-bottom: 20px;
  padding: 20px;

}


.video-container {

display: flex;
flex-wrap: wrap;


}

.video-container div.card-video {

width: 300px;
margin: 20px;
background-color: white;


}

.student-profile-small img {

width: 50px;
height: 50px;
border-radius: 180px;

}


.student-profile-big img {

  width: 125px;
  height: 125px;
  border-radius: 180px;
  
  }

  .columns.is-multiline {

background-color: white;

  }


.form-container {

margin: 100px 100px 100px 100px;
display: flex;
align-items: center;
justify-content: center;

}

.signup-form {

padding: 50px;

}

table {

margin: 50px 300px 0px 110px;
width: 80%;

}






.display-block {
  display: block;
}

.display-none {
  display: none;
}



.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none;
}
.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 72px;
}
img {
  max-width: 100%;
  height: auto;
}
.p-image {
position: absolute;
top: 167px;
right: 30px;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
font-size: 1.2em;
}

.upload-button:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
color: #999;
}

.modal-message {

display: flex;
flex-direction: column;
align-content: space-between;

}

.modal-header-message {

display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 20px;

}
.modal-body-message {

  margin-bottom: 30px;

}

.modal-footer-message {

  display: flex;
  justify-content: space-between;

  
}





div.student-profile-editable {

  width: 140px;

  height: 140px;

  border-radius: 50%;

  border-style: solid;

  border-color: #FFFFFF;

  box-shadow: 0 0 8px 3px #B8B8B8;

  position: relative;
  cursor: pointer;

}

 

div.student-profile-editable img {

  height: 100%;

  width: 100%;

 border-radius: 50%;

}

 

div.student-profile-editable svg {

  position: absolute;

  top: 20px;

  right: -7px;

  /* border: 1px solid; */

  border-radius: 50%;

  /* padding: 11px; */

  height: 30px;

  width: 30px;

  display: flex !important;

  align-items: center;

  justify-content: center;

  background-color: white;

  color: rgb(184, 184, 184), 190);

  box-shadow: 0 0 8px 3px #B8B8B8;

}